## Node config
NODE_ENV=dev
HTTP_PORT=3000
HTTPS_PORT=443


##SSL
SSL_KEY_PATH=
SSL_CERT_PATH=



DATABASES=[{"name":"default","type":"postgres","host":"localhost","port":5432,"username":"secret","password":"secret","database":"test","synchronize":false,"logging":false}]